@font-face {
    font-family: 'cera_proregular';
    src: url('../fonts/cerapro-regular-webfont.eot');
    src: url('../fonts/cerapro-regular-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/cerapro-regular-webfont.woff2') format('woff2'),
    url('../fonts/cerapro-regular-webfont.woff') format('woff'),
    url('../fonts/cerapro-regular-webfont.ttf') format('truetype'),
    url('../fonts/cerapro-regular-webfont.svg#cera_proregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'cera_problack';
    src: url('../fonts/cerapro-black-webfont.eot');
    src: url('../fonts/cerapro-black-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/cerapro-black-webfont.woff2') format('woff2'),
    url('../fonts/cerapro-black-webfont.woff') format('woff'),
    url('../fonts/cerapro-black-webfont.ttf') format('truetype'),
    url('../fonts/cerapro-black-webfont.svg#cera_problack') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'cera_promedium';
    src: url('../fonts/cerapro-medium-webfont.eot');
    src: url('../fonts/cerapro-medium-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/cerapro-medium-webfont.woff2') format('woff2'),
    url('../fonts/cerapro-medium-webfont.woff') format('woff'),
    url('../fonts/cerapro-medium-webfont.ttf') format('truetype'),
    url('../fonts/cerapro-medium-webfont.svg#cera_promedium') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'cera_probold';
    src: url('../fonts/cerapro-bold-webfont.eot');
    src: url('../fonts/cerapro-bold-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/cerapro-bold-webfont.woff2') format('woff2'),
    url('../fonts/cerapro-bold-webfont.woff') format('woff'),
    url('../fonts/cerapro-bold-webfont.ttf') format('truetype'),
    url('../fonts/cerapro-bold-webfont.svg#cera_probold') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
font-family: 'cera_prolight';
src: url('../fonts/cerapro-light-webfont.eot');
src: url('../fonts/cerapro-light-webfont.eot?#iefix') format('embedded-opentype'),
url('../fonts/cerapro-light-webfont.woff2') format('woff2'),
url('../fonts/cerapro-light-webfont.woff') format('woff'),
url('../fonts/cerapro-light-webfont.ttf') format('truetype'),
url('../fonts/cerapro-light-webfont.svg#cera_prolight') format('svg');
font-weight: normal;
font-style: normal;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

input {
    font-weight: 400;
    font-size: 14px;
    line-height: 114%;
    color: #a5a5a5;
    padding: 12px 14px;
    margin-bottom: 16px;
    border: 1px solid #eaeaea;
    border-radius: 5px;
    width: 100%;
    height: 40px;
    box-sizing: border-box;
}
.password{
    position: relative;
}
.hide_icon{
    position: absolute;
    top:10px;
    right: 10px;
}


.container {
    max-width: 500px;
    margin: auto;
    border: solid 2px black;
    border-bottom: 10px #46a358 solid;
    padding: 52px 100px 50px;
    box-sizing: border-box;
}

#box_model {
    text-align: center;
    margin-bottom: 40px;
}

.text {
    font-weight: 400;
    font-size: 13px;
    line-height: 123%;
    color: #3d3d3d;
    margin-bottom: 14px;
}

.mb {
    margin-bottom: 27px;
    text-align: center;
}

button {
    font-weight: 700;
    font-size: 16px;
    line-height: 100%;
    color: #fff;
    padding: 13px 119px;
    margin-bottom: 36px;
    background: #46a358;
    border-radius: 5px;
    border: none;
    /*width: 300px;*/
    height: 40px;
}
button:hover{
    background-color: #869791;
    transition: 1s;
    color: #1a712a;
}

.container a {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-right: 12px;
    margin-bottom: 16px;
    border: 1px solid #eaeaee;
    border-radius: 5px;
    font-weight: 500;
    font-size: 13px;
    line-height: 123%;
    color: #727272;
    width: 100%;
    height: 40px;
    box-sizing: border-box;
}
.container a:hover{
    background-color: #869791;
    transition: 1s;
    color: #FFFFFF;
}

.mb:before{
    content: "";
    display: inline-block;
    background-image: url("../images/line.svg");
    height: 1px;
    width: 97px;
    margin-right: 7px;
    margin-bottom: 4px;
}
.mb:after{
    content: "";
    display: inline-block;
    background-image: url("../images/line.svg");
    height: 1px;
    width: 97px;
    margin-left: 7px;
    margin-bottom: 4px;
}


.container #box_model span:first-of-type {
    font-weight: 500;
    font-size: 20px;
    line-height: 80%;
    color: #3d3d3d;
}

.container #box_model span:first-of-type:after{
    content: "";
    display: inline-block;
    background-image: url("../images/I.svg");
    width: 2px;
    height: 12px;
    background-repeat: no-repeat;
    margin-left: 12px;
}

.container #box_model span:last-of-type {
    font-weight: 500;
    font-size: 20px;
    line-height: 80%;
    color: #46a358;
    padding-left: 10px;
}


.norm {
    max-width: 1200px;
    margin: auto;
    border-bottom: solid 1px darkolivegreen;
    display: flex;
    justify-content: space-between;
}

header {
    padding-top: 30px;
    margin-bottom: 12px;
}

header nav, header nav li, header .logo {
    /*display: inline-block;*/
    /*text-align: center;*/
    align-items: center;

}
.logo, .login, nav {
    margin: 0 10px;
}

header ul {
    list-style: none;
    display: flex;
    gap: 50px;
}
header nav ul.dropdown{
    /*display: block;*/
    display: inline-block;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
    background: #edf6ee;
    position:absolute;
    width: 188px;
    top: 51px;
    right: -50px;
    height: 0;
    opacity: 0;
    display: none;
}
li.drop ul.dropdown li:last-of-type:after{
    content: "";
    display: inline-block;
    background-image: url("../images/Frame_right.svg");
    width: 6px;
    height: 10px;
    position: absolute;
    right: 17px;
    top: -8px;
    transition: 0.5s;
}
li.drop ul.dropdown li:last-of-type:hover:after{
    content: "";
    display: inline-block;
    background-image: url("../images/frame_left.svg");
}
/*header nav li.drop ul.dropdown li:last-of-type:hover:after{*/
/*    transform: rotate(180deg);*/
/*}*/

header nav li.drop ul.dropdown_2 li:last-of-type:after{
    display: none;
}
header nav ul.dropdown li:hover:after{
    background-color: transparent;
}
header ul.dropdown_2{
    /*display: block;*/
    display: inline-block;
    background: #edf6ee;
    position:absolute;
    min-width: 178px;
    top:-105px;
    right:-180px;
    height: 0;
    opacity: 0;


}

header nav ul li.drop,header nav ul li.drop_2{
    position: relative;
}
header nav ul li.drop:hover .dropdown{
    opacity:1;
    height: auto;
    transition: 0.5s;
    display: block;

}
header nav ul li.drop_2:hover .dropdown_2{
    opacity:1;
    height: auto;
    transition: 0.5s;
}

header nav ul.dropdown li{
    display: block;
    /*margin-left: 14px;*/
    /*margin-top: 7px;*/
    /*margin-bottom: 7px;*/
    border: none;
}

header nav li a {
    text-decoration: none;
}

header nav li {
    /*margin-right: 50px;*/
    font-family: 'cera_proregular';
}

header nav li:hover a{
    font-weight: bold;
}

header nav li:last-of-type {
    /*margin-right: 0;*/
}

header nav li a {
    font-weight: 400;
    font-size: 16px;
    color: #3d3d3d;
}

header nav li:after {
    height: 3px;
    /*background-color: #46a358;*/
    background-color: transparent;
    width: 100%;
    content: "";
    display: block;
    margin-top: 22px;
    transition: 0.3s ;
}
header nav li ul li:after{
    display: none;
}
header nav li ul li:hover{
    background-color: #1a712a;

}
header nav li ul li{
    margin-right: 0;

}
li.drop .dropdown li:hover > a, .drop_2 .dropdown_2 li:hover a{
    color:white;
    font-weight: 700;
    font-size: 16px;
    font-family: "Encode Sans Expanded", sans-serif;
}

.drop .dropdown li a, .drop_2 .dropdown_2 li a{
    color: #3d3d3d;
    font-weight: 400;
    font-size: 16px;
    font-family: "Encode Sans Expanded", sans-serif;
    padding-left: 14px;
    padding-top: 7px;
    padding-bottom: 8px;
    display: inline-block;
}


header nav li:hover:after {
    background-color: #46a358;
}


header .login{
    height: 35px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 6px;
    background: #46a358;
    color: #fff;
    box-sizing: border-box;
    padding: 8px 17px 7px;
    text-decoration: none;
    font-family: 'cera_promedium';
}
header .login:hover{
    background-color: #1a712a;
}

.login:before{
    content: "";
    display: inline-block;
    background-image: url("../images/Logout.svg");
    width: 20px;
    height: 20px;
    margin-right: 4px;
}
.banner .norm{
    background:  linear-gradient(135deg, #f5f5f5 0%, #f5f5f5 100%);
    min-height: 450px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: none;
}
.banner article{
    max-width: 557px;
    display: inline-block;
    margin-right: 83px;
    margin-left: 43px;
}
h4{
    width: 100%;
    height: 16px;
    font-weight: 500;
    font-size: 14px;
    line-height: 114%;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: #3d3d3d;
    margin-bottom: 7px;
    font-family: 'cera_promedium';
}
h1 {
    font-weight: 900;
    font-size: 60px;
    line-height: 100%;
    text-transform: uppercase;
    color: #3d3d3d;
    margin-bottom: 5px;
    font-family: 'cera_problack';

}
h1 span{
    color: #46a358;
}
.banner p{
    width: 557px;
    height: 45px;
    font-weight: 400;
    font-size: 14px;
    line-height: 171%;
    color: #727272;
    margin-bottom: 44px;
    font-family: 'cera_proregular';
}
.banner a {
    border-radius: 6px;
    background: #46a358;
    font-weight: 700;
    font-size: 16px;
    line-height: 125%;
    text-transform: uppercase;
    color: #fff;
    padding: 10px 27px;
    text-decoration: none;
    font-family: 'cera_probold';
    transition-duration: 1s;
}
.banner a:hover{
    background-color: #727272;
    box-shadow:3px 3px 3px 3px #3d3d3d;
}




.categories .container_3 {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    max-width: 1200px;
    margin: auto;
    padding-top: 36px;
}
.categories .left_sidebar{
    max-width: 310px;
    background: #fbfbfb;
    width: 100%;
    min-height: 774px;
    flex-direction: column;

}
.left_sidebar h5{
    font-weight: 700;
    font-size: 18px;
    line-height: 89%;
    color: #3d3d3d;
    margin-top: 14px;
    margin-left: 18px;
    font-family: 'cera_probold';
}
.categories .left_sidebar ul {
    list-style: none;
    margin-left: 30px;
    margin-top: 7px;
    margin-bottom: 377px;
}
.categories .left_sidebar img{
    margin-left: -30px;
}
.left_sidebar ul li a {
    list-style: none;
    font-weight: 400;
    font-size: 15px;
    line-height: 267%;
    color: #3d3d3d;
    text-decoration: none;
    justify-content: space-between;
    font-family: 'cera_proregular';
}
.left_sidebar ul li a:hover{
    font-weight: 700;
    font-size: 15px;
    line-height: 267%;
    color: #46a358;
    font-family: 'cera_probold';
}


.categories .right_content {
    max-width: 840px;
    width: 100%;
}
.categories .right_content .flex_2 {
    display: flex;
    justify-content: space-between;
    margin-bottom: 31px;
}
.categories .flex_2 .all_plants{
    list-style: none;
    display: flex;
    gap: 39px;
}
.categories .flex_2 .all_plants li a {
    text-decoration: none;
    font-weight: 400;
    font-size: 15px;
    line-height: 107%;
    color: #3d3d3d;
    font-family: 'cera_proregular';
}
.categories .right_content .all_plants li:hover a{
    font-weight: 700;
    color: #46a358;
}
.categories .flex_2 .all_plants li:after{
    height: 2px;
    /*background-color: #46a358;*/
    background-color:transparent;
    width: 100%;
    content: "";
    display: block;
    margin-top: 7px;
}
.categories .flex_2 .all_plants li:hover:after{
    background-color: #46a358;
}

.categories .flex_2  p{
    font-weight: 400;
    font-size: 15px;
    line-height: 107%;
    color: #3d3d3d;
    font-family: 'cera_proregular';
}

.categories .right_content .flex_2  p:after{
    content:"" ;
    display: inline-block;
    background-image: url("../images/iconly.svg");
    width: 16px;
    height: 16px;
    margin-left: 5px;
}


.categories .right_content article {
    width: 258px;
    max-height: 350px;
    margin-bottom: 65px;
    border-top: 1px solid transparent;
    position: relative;
}
.categories .right_content article:hover{
    border-top: 1px solid #46a358;
}
.categories .right_content article:hover ul{
    opacity: 1;
}
/*.categories .right_content article ul{*/
/*    width: 35px;*/
/*    height: 35px;*/
/*    border-radius: 4px;*/
/*    background: #fff*/
/*}*/
.categories .right_content article .art_icon{
    list-style: none;
    display: flex;
    gap: 10px;
    position: absolute;
    bottom: 57px;
    left: calc(50% - 62px);
    width: 125px;
    height: 35px;
    opacity: 0;
    transition: 0.4s;
}
article .art_icon li{
    border-radius: 4px;
    width: 35px;
    height: 35px;
    background: #fff;
    padding: 7px 8px;
}
.categories article .art_icon li:hover a svg path {
    fill: #46a358!important;
}
.categories .right_content article .sale{
    position: absolute;
    left: 0;
    top: 0;
    background-color: #46a358;
    padding: 8px;
    font-weight: 500;
    font-size: 16px;
    line-height: 100%;
    color: #fff;
    font-family: 'cera_promedium';
    animation:move-to-right 3s infinite;
}
@keyframes move-to-right {
    0%{
        left: 0;
    }
    100%{
        left: 170px;
    }
}

.categories .right_content .flex_2 {
    justify-content: space-between;
    flex-wrap: wrap;
 }

.categories .flex_2  article p{
    font-weight: 400;
    font-size: 16px;
    line-height: 100%;
    color: #3d3d3d;
    margin-top: 18px;
    font-family: 'cera_proregular';
}
.categories .right_content .flex_2 article p:after{
    display: none;
}

.categories .flex_2  article span{
    font-weight: 700;
    font-size: 18px;
    line-height: 89%;
    color: #46a358;
    margin-top: 6px;
    font-family: 'cera_probold';
}
.categories .flex_2 article .old_price{
    margin-left: 16px;
    font-weight: 400;
    font-size: 18px;
    line-height: 89%;
    color: #a5a5a5;
    font-family: 'cera_proregular';
    display: inline-block;
    text-decoration:line-through;
}
/*.categories .flex_2 article span .old_price:after{*/
/*    content: "";*/
/*    display: block;*/
/*    position: absolute;*/
/*    height: 1px;*/
/*    background-color: #46a358;*/
/*    width: 100%;*/
/*    top:5px;*/
/*    left: 0;*/
/*    transform: rotate(-16deg);*/
/*}*/



.categories .pagination{
    display: flex;
    justify-content: end;
}
.categories .pagination ul {
    display: flex;
    margin-top: 90px;
    margin-bottom: 94px;
    gap: 10px;
}
.categories .pagination li{
    list-style: none;
    border: 1px solid #e5e5e5;
    border-radius: 4px;
    width: 35px;
    height: 35px;
}
.categories .pagination li a{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    text-decoration: none;
}
.categories .pagination a {
    font-weight: 300;
    font-size: 18px;
    line-height: 89%;
    color: #3d3d3d;
    font-family: 'cera_prolight';
    text-decoration: none;
}
.categories .pagination li:hover  {
    background-color: #46a358;
}
.categories .pagination ul li:hover a{
    font-weight: 700;
    font-size: 18px;
    line-height: 89%;
    color: #fff;
}
.categories .pagination ul li:last-of-type:hover a svg path {
    stroke: white !important;
}
.categories .pagination ul li:last-of-type{
    display: inline-block;
    position: relative;
    animation: slideright 1s infinite;
}
@keyframes slideright {
    0% {
        left: 0;
    }
    100% {
        left: 5px;
        box-shadow: #46a358 0 7px 29px 0;
    }
}



section.two_cards{
    display: flex;
    justify-content: space-between;
    max-height: 302px;
    margin-bottom: 138px;
}
.left_card .right_card{
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 586px;
    /*padding-bottom: 52px;*/
    background: #fbfbfb;
}
.two_cards article{
    display: inline-block;
    margin-right: 30px;
    align-items: center;
    max-width: 292px;
    text-align: right;
    margin-bottom: 46px;
}
.two_cards h5{
    font-weight: 900;
    font-size: 18px;
    line-height: 133%;
    text-transform: uppercase;
    color: #3d3d3d;
    font-family: 'cera_problack';
    padding-top: 37px;
    margin-bottom: 9px;
}
.two_cards p{
    font-weight: 400;
    font-size: 14px;
    line-height: 171%;
    color: #727272;
    font-family: 'cera_proregular';
    margin-bottom: 25px;
}
.two_cards a{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    border-radius: 6px;
    background: #46a358;
    font-weight: 500;
    font-size: 14px;
    font-family: 'cera_promedium';
    line-height: 143%;
    color: #fff;
    text-decoration: none;
    padding: 10px 28px;
}


.two_cards a:after{
    content:"";
    display: inline-block;
    background-image: url("../images/Arrow-Right.svg");
    width: 14px;
    height: 12px;
    margin-left: 6px;
    background-repeat: no-repeat;
}
.two_cards a:hover{
    transform: scale(1.1);
    transition: 2s;
    box-shadow: 0 2px #869791;
}


section.blog .name{
    text-align: center;
    margin-bottom: 35px;
}
section.blog h3{
    font-weight: 700;
    font-size: 30px;
    line-height: 53%;
    color: #3d3d3d;
    font-family: 'cera_probold';
    margin-bottom: 15px;
}
section.blog p{
    font-weight: 400;
    font-size: 14px;
    line-height: 171%;
    color: #727272;
    font-family: 'cera_proregular';

}

.blog .posts{
    /*display: flex;*/
    justify-content: space-between;
    max-width: 1200px;
    margin: auto;
    padding-bottom: 100px;
}
.blog .posts article{
    background: #fbfbfb;
    max-width: 268px;
}
.blog .posts article div{
    padding-top: 9px;
    padding-left: 15px;
    padding-bottom: 13px;
}
.blog .posts span{
    font-weight: 500;
    font-size: 14px;
    line-height: 114%;
    color: #46a358;
    font-family: 'cera_promedium';
    margin-bottom: 4px;
}
.blog .posts span:first-of-type{
    border-right: #46a358 1.5px solid;
    padding-right: 5px;
}
.blog .posts h5{
    font-weight: 700;
    font-size: 20px;
    line-height: 130%;
    color: #3d3d3d;
    font-family: 'cera_probold';
    margin-bottom: 4px;
}
.blog .posts p{
    font-weight: 400;
    font-size: 14px;
    line-height: 157%;
    color: #727272;
    font-family: 'cera_proregular';
    margin-bottom: 9px;
}
.blog .posts a{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    text-decoration: none;
    font-weight: 500;
    font-size: 14px;
    line-height: 114%;
    color: #3d3d3d;
    font-family: 'cera_promedium';
}
.blog .posts a:after{
    content:"";
    display: inline-block;
    background-image: url("../images/Arrow_right_black.svg");
    width: 12px;
    height: 10px;
    margin-left: 3px;
}
.blog .posts a:hover{
    font-weight: 500;
    font-size: 14px;
    line-height: 114%;
    color: #46a358;

}
.blog .posts a:hover:after{
    content:"";
    display: inline-block;font-family: 'cera_promedium';
    background-image: url("../images/Arrow_right_green.svg")
}

.owl-dots{
    text-align: center;
}
.owl-dot span{
    display: inline-block;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    margin: 10px;
    background-color: #3d3d3d;
}
.owl-dots .active span{
    background-color: #1a712a  ;
}




section .faq {
    max-width: 1200px;
    margin: auto;
    border-bottom: none;
}

.faq .ui-accordion .ui-accordion-header {
    border-radius: 22px;
    padding: 20px 16px;
    background-color: transparent;
    border: solid 2px #46a358;
}

.faq.ui-accordion .ui-accordion-header .ui-state-active {
    background-color: antiquewhite;
    border-radius: 22px 22px 0 0;
    border-bottom: none;
}

.faq .ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active, a.ui-button:active, .ui-button:active, .ui-button.ui-state-active:hover{
    border: solid 2px #46a358;
    color: black;
}

.faq .ui-accordion .ui-accordion-content{
    border: solid 2px #46a358;
    background-color: antiquewhite;
    border-radius: 0 0 22px 22px;
    overflow: visible;
    border-top: none;
}

.ui-state-active .ui-icon{
    position: absolute;
    right: 27px;
    background-image: none;
    background-position: 0;
    text-indent: 0;
}
.ui-icon:after{
    content: "";
    display: inline-block;
    background-image: url("../images/chevron-down.svg");
    width: 32px;
    height: 32px;
}





footer .footer{
    max-width: 1200px;
    max-height: 610px;
    margin: auto;
    background-color: #fbfbfb;
    border-top: none;

}
footer .newsletters{
    display: flex;
    justify-content: center;
}
.newsletters article{
    padding: 25px;
    position: relative;

}
.newsletters article h6{
    font-weight: 700;
    font-size: 17px;
    line-height: 94%;
    color: #3d3d3d;
    font-family: 'cera_probold';
    padding-top: 15px;
    margin-bottom: 9px;
}
.newsletters article p{
    font-weight: 400;
    font-size: 14px;
    line-height: 157%;
    color: #727272;
    font-family: 'cera_proregular';
}

.newsletters article:nth-child(-n+2):after{
    content: "";
    display: block;
    background-image: url("../images/Rectangle36.svg");
    width: 1px;
    height: 187px;
    position: absolute;
    right: 30px;
    top: 40px;
}

.newsletters .right_said{
    max-width: 354px;
    margin-right: 25px;
    padding-top: 25px;
}
.right_said h5{
    font-weight: 700;
    font-size: 18px;
    line-height: 89%;
    color: #3d3d3d;
    font-family: 'cera_probold';
    margin-bottom: 25px;
}
.right_said .mail {
    display: flex;
    justify-content: center;
    text-align: center;
    margin-bottom: 18px;
    max-width: 354px;
    height: 40px;
}
.right_said input{
    border-radius: 6px 0 0 6px;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.06);
    background: #fff;
    font-weight: 400;
    font-size: 14px;
    line-height: 114%;
    color: #acacac;
    font-family: 'cera_proregular';
    padding: 12px 86px 12px 11px;


}
.right_said .mail a{
    border-radius: 0 6px 6px 0;
    background: #46a358;
    text-decoration: none;
    font-weight: 700;
    font-size: 18px;
    line-height: 89%;
    color: #fff;
    font-family: 'cera_probold';
    padding: 12px 25px;
}
.right_said p{
    font-weight: 400;
    font-size: 13px;
    line-height: 169%;
    color: #727272;
    font-family: 'cera_proregular';

}
footer .gradient{
    height: 88px;
    background: linear-gradient(90deg, #edf6ef 0%, #52c368 100%);
    justify-content: space-between;
    align-items: center;
    display: flex;
    padding-left: 22px;
    padding-right: 22px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25), 0 4px 4px 0 rgba(0, 0, 0, 0.25), 0 4px 4px 0 rgba(0, 0, 0, 0.25);
}
.gradient a{
    text-decoration: none;
    font-weight: 400;
    font-size: 14px;
    line-height: 157%;
    color: #3d3d3d;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.gradient .location:before {
    content: "";
    background-image: url("../images/location.svg");
    width: 20px;
    height: 20px;
    padding-left: 9px;
    background-repeat: no-repeat;
}
.gradient .contact:before{
    content: "";
    background-image: url("../images/contact.svg");
    width: 20px;
    height: 20px;
    padding-left: 9px;
    background-repeat: no-repeat;
}
.gradient .phone:before{
    content: "";
    background-image: url("../images/phone.svg");
    width: 20px;
    height: 20px;
    padding-left: 9px;
    background-repeat: no-repeat;
}
footer .info{
    display: flex;
    justify-content: space-between;
    padding: 33px 155px 27px 25px;
    border-bottom: 1px solid rgba(70, 163, 88, 0.2);
}
footer .info h5{
    font-weight: 700;
    font-size: 18px;
    line-height: 89%;
    color: #3d3d3d;
    font-family: 'cera_probold';
    margin-bottom: 8px;
}

footer .info ul li{
    list-style: none;
}
footer .info ul li a{
    text-decoration: none;
    font-weight: 400;
    font-size: 14px;
    line-height: 214%;
    color: #3d3d3d;
    font-family: 'cera_proregular';
    padding: 7px;
}

footer .info ul li a:hover{
    font-weight: 400;
    font-size: 14px;
    line-height: 214%;
    color: #46a358;
    font-family: 'cera_proregular';

}
footer .social_icons{
    display: flex;
    padding-top: 10px;
    margin-bottom: 33px;
}
footer .social_icons ul{
    display: flex;
    gap: 10px;
}

footer .social  ul li{
    border: 1px solid rgba(70, 163, 88, 0.2);
    border-radius: 4px;
    width: 30px;
    height: 30px;
}

footer .social  ul li a{
    display: flex;
    justify-content: center;
    align-items: center;
}
footer .social  ul li:hover {
    background-color: #727272;
}

footer img{
    padding-top: 10px;
}


footer .all_rights{
    display: flex;
    justify-content:center;
    align-items: center;
    padding-top: 6px;
    margin-bottom: 22px;
}
footer .all_rights p{
    font-weight: 400;
    font-size: 14px;
    line-height: 214%;
    color: #3d3d3d;
    font-family: 'cera_proregular';
}


















































