@font-face {
    font-family: 'cera_proregular';
    src: url('../fonts/cerapro-regular-webfont.eot');
    src: url('../fonts/cerapro-regular-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/cerapro-regular-webfont.woff2') format('woff2'),
    url('../fonts/cerapro-regular-webfont.woff') format('woff'),
    url('../fonts/cerapro-regular-webfont.ttf') format('truetype'),
    url('../fonts/cerapro-regular-webfont.svg#cera_proregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'cera_problack';
    src: url('../fonts/cerapro-black-webfont.eot');
    src: url('../fonts/cerapro-black-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/cerapro-black-webfont.woff2') format('woff2'),
    url('../fonts/cerapro-black-webfont.woff') format('woff'),
    url('../fonts/cerapro-black-webfont.ttf') format('truetype'),
    url('../fonts/cerapro-black-webfont.svg#cera_problack') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'cera_promedium';
    src: url('../fonts/cerapro-medium-webfont.eot');
    src: url('../fonts/cerapro-medium-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/cerapro-medium-webfont.woff2') format('woff2'),
    url('../fonts/cerapro-medium-webfont.woff') format('woff'),
    url('../fonts/cerapro-medium-webfont.ttf') format('truetype'),
    url('../fonts/cerapro-medium-webfont.svg#cera_promedium') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'cera_probold';
    src: url('../fonts/cerapro-bold-webfont.eot');
    src: url('../fonts/cerapro-bold-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/cerapro-bold-webfont.woff2') format('woff2'),
    url('../fonts/cerapro-bold-webfont.woff') format('woff'),
    url('../fonts/cerapro-bold-webfont.ttf') format('truetype'),
    url('../fonts/cerapro-bold-webfont.svg#cera_probold') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
font-family: 'cera_prolight';
src: url('../fonts/cerapro-light-webfont.eot');
src: url('../fonts/cerapro-light-webfont.eot?#iefix') format('embedded-opentype'),
url('../fonts/cerapro-light-webfont.woff2') format('woff2'),
url('../fonts/cerapro-light-webfont.woff') format('woff'),
url('../fonts/cerapro-light-webfont.ttf') format('truetype'),
url('../fonts/cerapro-light-webfont.svg#cera_prolight') format('svg');
font-weight: normal;
font-style: normal;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

input {
    font-weight: 400;
    font-size: 14px;
    line-height: 114%;
    color: #a5a5a5;
    padding: 12px 14px;
    margin-bottom: 16px;
    border: 1px solid #eaeaea;
    border-radius: 5px;
    width: 100%;
    height: 40px;
    box-sizing: border-box;
}

.container {
    max-width: 500px;
    margin: auto;
    border: solid 2px black;
    border-bottom: 10px #46a358 solid;
    padding: 52px 100px 50px;
    box-sizing: border-box
}

#box_model {
    text-align: center;
    margin-bottom: 40px;
}

.text {
    font-weight: 400;
    font-size: 13px;
    line-height: 123%;
    color: #3d3d3d;
    margin-bottom: 14px;
}

.mb {
    margin-bottom: 27px;
    text-align: center;
}

button {
    font-weight: 700;
    font-size: 16px;
    line-height: 100%;
    color: #fff;
    padding: 13px 118px;
    margin-bottom: 36px;
    background: #46a358;
    border-radius: 5px;
    border: none;
    width: 300px;
    height: 40px;
}

.container a {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-right: 12px;
    margin-bottom: 16px;
    border: 1px solid #eaeaee;
    border-radius: 5px;
    font-weight: 500;
    font-size: 13px;
    line-height: 123%;
    color: #727272;
    width: 100%;
    height: 40px;
    box-sizing: border-box;
}

.container #box_model span:first-of-type {
    font-weight: 500;
    font-size: 20px;
    line-height: 80%;
    color: #3d3d3d;
    border-right: 1px solid;
    padding-right: 5px;
}

.container #box_model span:last-of-type {
    font-weight: 500;
    font-size: 20px;
    line-height: 80%;
    color: #46a358;
    padding-left: 5px;
}

.norm {
    max-width: 1200px;
    margin: auto;
    border-bottom: solid 1px darkolivegreen;
    display: flex;
    justify-content: space-between;
}

header {
    padding-top: 30px;
    margin-bottom: 12px;
}

header nav, header nav li, header .logo {
    display: inline-block;
    text-align: center;
    align-items: center;

}
.logo, .login, nav {
    margin: 0 10px;
}

header ul {
    list-style: none;
    display: flex;
    gap: 50px;
}

header nav li a {
    text-decoration: none;

}

header .logo {
    /*margin-right: 229px;*/

}

header .login {
    /*margin-left: 350px;*/
}

header nav li {
    /*margin-right: 50px;*/
    font-family: 'cera_proregular';
}

header nav li:hover a{
    font-weight: bold;
}

header nav li:last-of-type {
    /*margin-right: 0;*/
}

header nav li a {
    font-weight: 400;
    font-size: 16px;
    color: #3d3d3d;

}

header nav li:after {
    height: 3px;
    /*background-color: #46a358;*/
    background-color: transparent;
    width: 100%;
    content: "";
    display: block;
    margin-top: 22px;
    transition: 0.3s ;
}

header nav li:hover:after {
    background-color: #46a358;
}

header .login{
    height: 35px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 6px;
    background: #46a358;
    color: #fff;
    box-sizing: border-box;
    padding: 8px 17px 7px;
    text-decoration: none;
    font-family: 'cera_promedium';
}
.login:before{
    content: "";
    display: inline-block;
    background-image: url("../images/Logout.svg");
    width: 20px;
    height: 20px;
    margin-right: 4px;
}
.banner .norm{
    background:  linear-gradient(135deg, #f5f5f5 0%, #f5f5f5 100%);
    min-height: 450px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: none;
}
.banner article{
    max-width: 557px;
    display: inline-block;
    margin-right: 83px;
    margin-left: 43px;
}
h4{
    width: 100%;
    height: 16px;
    font-weight: 500;
    font-size: 14px;
    line-height: 114%;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: #3d3d3d;
    margin-bottom: 7px;
    font-family: 'cera_promedium';
}
h1 {
    font-weight: 900;
    font-size: 60px;
    line-height: 100%;
    text-transform: uppercase;
    color: #3d3d3d;
    margin-bottom: 5px;
    font-family: 'cera_problack';

}
h1 span{
    color: #46a358;
}
.banner p{
    width: 557px;
    height: 45px;
    font-weight: 400;
    font-size: 14px;
    line-height: 171%;
    color: #727272;
    margin-bottom: 44px;
    font-family: 'cera_proregular';
}
.banner a {
    border-radius: 6px;
    background: #46a358;
    font-weight: 700;
    font-size: 16px;
    line-height: 125%;
    text-transform: uppercase;
    color: #fff;
    padding: 10px 27px;
    text-decoration: none;
    font-family: 'cera_probold';
}



.categories .container_3 {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    max-width: 1200px;
    margin: auto;
    padding-top: 36px;
}
.categories .left_sidebar{
    max-width: 310px;
    background: #fbfbfb;
    width: 100%;
    min-height: 774px;
    flex-direction: column;

}
.left_sidebar h5{
    font-weight: 700;
    font-size: 18px;
    line-height: 89%;
    color: #3d3d3d;
    margin-top: 14px;
    margin-left: 18px;
    font-family: 'cera_probold';
}
.categories .left_sidebar ul {
    list-style: none;
    /*width: 91px;*/
    /*height: 100%;*/
    margin-left: 30px;
    margin-top: 7px;
    margin-bottom: 377px;
}
.categories .left_sidebar img{
    margin-left: -30px;
}
.left_sidebar ul li a {
    list-style: none;
    font-weight: 400;
    font-size: 15px;
    line-height: 267%;
    color: #3d3d3d;
    text-decoration: none;
    justify-content: space-between;
    font-family: 'cera_proregular';
}
.left_sidebar ul li:hover a{
    font-weight: 700;
    color: #46a358;
}

.categories .right_content {
    max-width: 840px;
    width: 100%;
}
.categories .right_content .flex_2 {
    display: flex;
    justify-content: space-between;
    margin-bottom: 31px;
}

.categories .flex_2 ul{
    list-style: none;
    display: flex;
    gap: 39px;
}
.categories .flex_2 ul li a {
    text-decoration: none;
    font-weight: 400;
    font-size: 15px;
    line-height: 107%;
    color: #3d3d3d;
    font-family: 'cera_proregular';
}
.categories .flex_2 ul li:hover a{
    font-weight: 700;
    color: #46a358;
}
.categories .flex_2 li:after{
    height: 2px;
    /*background-color: #46a358;*/
    background-color:transparent;
    width: 100%;
    content: "";
    display: block;
    margin-top: 7px;
}
.categories .flex_2 li:hover:after{
    background-color: #46a358;
}

.categories .flex_2  p{
    font-weight: 400;
    font-size: 15px;
    line-height: 107%;
    color: #3d3d3d;
    font-family: 'cera_proregular';
}

.categories .right_content .flex_2  p:after{
    content:"" ;
    display: inline-block;
    background-image: url("../images/iconly.svg");
    width: 16px;
    height: 16px;
    margin-left: 5px;
}


.categories .right_content article {
    width: 258px;
    max-height: 350px;
    margin-bottom: 65px;
    border-top: 1px solid transparent;
    position: relative;
}
.categories .right_content article:hover{
    border-top: 1px solid #46a358;
}
.categories .right_content article ul{
    width: 35px;
    height: 35px;
    border-radius: 4px;
    background: #fff
}


.categories .right_content article ul li{
    width: 20px;
    height: 20px;

}
.categories .right_content article .sale{
    position: absolute;
    left: 0;
    top: 0;
    background-color: #46a358;
    padding: 8px;
    font-weight: 500;
    font-size: 16px;
    line-height: 100%;
    color: #fff;
    font-family: 'cera_promedium';
}

.categories .right_content .flex_2 {
    justify-content: space-between;
    flex-wrap: wrap;
 }

.categories .flex_2  article p{
    font-weight: 400;
    font-size: 16px;
    line-height: 100%;
    color: #3d3d3d;
    margin-top: 18px;
    font-family: 'cera_proregular';
}
.categories .right_content .flex_2 article p:after{
    display: none;
}

.categories .flex_2  article span{
    font-weight: 700;
    font-size: 18px;
    line-height: 89%;
    color: #46a358;
    margin-top: 6px;
    font-family: 'cera_probold';
}
.categories .flex_2 article .old_price{
    padding-right: 16px;
    font-weight: 400;
    font-size: 18px;
    line-height: 89%;
    color: #a5a5a5;
    font-family: 'cera_proregular';
    display: inline-block;
    text-decoration:line-through;
    /*position: relative;*/
}
.categories .flex_2 article span .old_price:after{
    content: "";
    display: block;
    position: absolute;
    height: 1px;
    background-color: #46a358;
    width: 100%;
    top:5px;
    left: 0;
    transform: rotate(-16deg);
}



.categories .pagination{
    display: flex;
    justify-content: end;
}
.categories .pagination ul {
    display: flex;
    /*flex-direction: row;*/
    /*justify-content: center;*/
    margin-top: 90px;
    margin-bottom: 82px;
    gap: 10px;
}
.categories .pagination li{
    list-style: none;
    border: 1px solid #e5e5e5;
    border-radius: 4px;
    width: 35px;
    height: 35px;
    padding  : 9px 12px 10px 13px;
    align-content: center;
    display: block;

}
.categories .pagination a {
    font-weight: 300;
    font-size: 18px;
    line-height: 89%;
    color: #3d3d3d;
    font-family: 'cera_prolight';
    text-decoration: none;
}

.categories .pagination li:hover  {
    background-color: #46a358;
}

.categories .pagination ul li:hover a{
    font-weight: 700;
    font-size: 18px;
    line-height: 89%;
    color: #fff;
}
.categories .pagination ul li:last-of-type:hover a svg path {
    stroke: white!important;
    background-position: 9px 8px;
    /*content: "";*/
    /*display: inline-block;*/
    /*width: 18px;*/
    /*height: 18px;*/
    /*background-image: url("../images/ArrowRight 2.svg");*/
    /*background-repeat: no-repeat;*/
}





































